$lightBg: #FFF;
$lightTextColor: #000;
$lightShadowColor: rgba(34, 60, 80, 0.09);
$lightToolButton: #f1f2f3;
$lightToolButtonHover: #ecedee;
$darkBg: rgb(52, 50, 56);
$darkToolButton: rgb(45, 43, 48);
$darkToolButtonHover: rgb(33, 32, 36);
$darkTextColor: #FFF;
$darkShadowColor: rgb(255, 255, 255, 0.09);