@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');
@import './colors.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  #root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;

    header {
      flex-grow: 0;
    }
  
    main {
      flex-grow: 1;
      padding: 30px 0;
      &.dark {
        background: $darkBg;
        color: $darkTextColor
      }
  
      &.light {
        background: $lightBg;
        color: $lightTextColor;
      }

      .homeBanner {
        padding-top: 80px;
        text-align: center;
        height: calc(100vh - 130px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        .mainPageButtons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
          margin-top: 60px;
        }

        .homeBanner__title {
          font-size: 48px;
          font-weight: 700;
          line-height: 80px;
        }

        .easterEgg {
          &:after {
            content: 'd*cks';
            font-weight: 900;
            border-bottom: 10px solid;
            border-image-slice: 1;
            border-width: 5px;
          }

          &:before {
            content: '';
            background-image: url("./assets/duck.png");
            width: 140px;
            height: 250px;
            display: block;
            background-size: contain;
            background-position: center;
            position: absolute;
            bottom: -100%;
            right: 0;
            transform: rotate(-20deg);
            transition: ease-in 0.3s;
          }

          &:hover {
            cursor: pointer;
            &:after {
              content: 'ducks';
              background-image: radial-gradient( circle farthest-corner at 7.2% 13.6%,  rgba(37,249,245,1) 0%, rgba(8,70,218,1) 90% );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
            }

            &:before {
              bottom: -15%;
            }
          }
        }
      }
    }
  
    footer {
      flex-grow: 0;
    }
  }
}