.toolButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: #000;
  background: white;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
  position: relative;
  &:hover {
    background: #f1f2f3;
  }
  
  img {
    width: 20px;
    height: 20px;
  }
}

.activeTool {
  background: #ecedee;
}

.toolPanelWrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  box-shadow: 0px 2px 15px 0px rgba(34, 60, 80, 0.09);
  border-radius: 8px;
  padding: 6px;
}

.colorPickerWrapper {
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 40px;
  align-self: center;
  margin-top: auto;
  border: 1px solid rgba(34, 60, 80, 0.09);
  padding: 4px;
}

.colorIndicator {
  height: 100%;
  border-radius: 4px;
}

.colorPicker {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.lineWidthWrapper {
  position: absolute;
  top: 100%;
  left: transform(translate(-50%));
  z-index: 2;
  box-shadow: 0px 2px 15px 0px rgba(34, 60, 80, 0.09);
  padding: 15px;
  border-radius: 8px;
  background: white;
}

.widthExample {
  display: block;
}