@import '../../../styles/colors.scss';

.light {
  box-shadow: 0px 2px 15px 0px $lightShadowColor;
  background: $lightBg;
  color: $lightTextColor;
  padding: 15px 0;
  z-index: 1;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .logo {
    height: 40px;
    width: auto;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-start;
    a {
      font-size: 16px;
      text-decoration: none;
      color: $lightTextColor;
      transition: 0.3s;

      &:hover {
        color: lighten($lightTextColor, 40);
      }
    }
  }
}

.dark {
  box-shadow: 0px 2px 15px 0px $darkShadowColor;
  background: $darkBg;
  color: $darkTextColor;
  padding: 15px 0;
  z-index: 1;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    height: 40px;
    width: auto;
    filter: invert(1);
    mix-blend-mode: lighten;
  }
  a {
    color: $darkTextColor;
  }
}
