@import '../../styles/colors.scss';

.light {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

  .artWrapper {
    box-shadow: 0px 2px 15px 0px $lightShadowColor;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    background: $lightBg;

    img {
      width: 100%;
      border: 1px solid $lightShadowColor;
    }

    &:hover {
      .actionsLayer {
        display: flex;
      }
    }
  }

  .actionsLayer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #ffffff20;
    backdrop-filter: blur(4px);
    transition: 0.3s;
    flex-wrap: wrap;
  }

  .actionButton {
    display: block;
    background: transparent;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    transition: 0.3s;
    padding: 10px;
    img {
      width: 25px;
      height: auto;
      border: none;
    }

    &:hover {
      background: $lightToolButton;
    }
  }

  .aboutArt {
    width: 100%;

    p {
      margin-bottom: 0;
      font-size: 12px;
      text-align: center;
    }
  }
}

.dark {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

  .artWrapper {
    box-shadow: 0px 2px 15px 0px $darkShadowColor;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    background: $darkBg;
    overflow: hidden;

    img {
      width: 100%;
      border: 1px solid $lightShadowColor;
      background: $lightBg;
    }

    &:hover {
      .actionsLayer {
        display: flex;
      }
    }
  }

  .actionsLayer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #ffffff20;
    backdrop-filter: blur(4px);
    transition: 0.3s;
    flex-wrap: wrap;
    color: $lightTextColor;
  }

  .actionButton {
    display: block;
    background: transparent;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    transition: 0.3s;
    padding: 10px;
    img {
      width: 25px;
      height: auto;
      border: none;
      background: transparent;
    }

    &:hover {
      background: $lightToolButton;
    }
  }

  .aboutArt {
    width: 100%;

    p {
      margin-bottom: 0;
      font-size: 12px;
      text-align: center;
    }
  }
}
